<h1 class="text-center well">
  <span class="text-danger">azukiapp/{{ projectId }}</span>
</h1>

<div class="text-center">
  <a href="https://github.com/azukiapp/docker-{{ projectId }}">
    <span class="glyphicon glyphicon-star"></span>
    GitHub Repository
  </a>
  &nbsp; | &nbsp;
  <a href="https://registry.hub.docker.com/u/azukiapp/{{ projectId }}/">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Docker Hub Registry
  </a>
</div>

<div ng-show="readme">
  <hr>
  <div class="readme" ng-bind-html="readme" do-highlight></div>
</div>

<div ng-show="dockerfile">
  <hr>
  <h2>Dockerfile</h2>
  <pre class="prettyprint line-numbers language-dockerfile" ng-bind-html="dockerfile" do-highlight></pre>
</div>
